<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
	rel="stylesheet" 
	integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" 
	crossorigin="anonymous">
</head>

<body>
	<div class="container w-50 bg-light rounded shadow">
		<h1>Ingreso al sistema</h1>
		<form action="/login" method="post">
			<div class="mb-3">
				<label for="exampleInputEmail1" class="form-label">Usuario</label>
				<input name="txtUsuario" type="email" class="form-control" id="exampleInputEmail1">
			</div>
			<div class="mb-3">
				<label for="exampleInputPassword1" class="form-label">Contraseña</label>
				<input name="txtClave" type="password" class="form-control" id="exampleInputPassword1">
			</div>
			<button type="submit" class="btn btn-primary">Ingresar</button>
			
			<div th:text="${mensaje}" th:class="${cssmensaje}" role="alert"></div>
		</form>
		<p>Para registrar cuenta ingrese <a href="">aquí</a></p>
	</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" 
crossorigin="anonymous"></script>
</html>